body {
  font-family: Arial, sans-serif;
  background-color: #eee;
}

#header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

#main-container {
  width: 700px;
  float: left;
  padding: 20px;
}

#sidebar {
  width: 250px;
  float: right;
  padding: 20px;
  background-color: #f4f4f4;
  margin-top: 15px;
}

#gallery {

}

.gallery-item {
  float: left;
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
}

.gallery-item img {
  width: 100%;
}

h3 {
  font-size: 24px;
  border-bottom: 2px solid #333;
}

h4 {
  font-size: 18px;
}

#footer {
  clear: both; 
  text-align: center;
  padding: 20px;
  border-top: 1px solid #999;
}